/*
AddFoodData.css
NAME
    AddFoodData.css
SYNOPSIS
    Styles for the AddFoodData component.
DESCRIPTION
    This stylesheet provides a clean and responsive design for the AddFoodData form component. It includes layout and styling for form containers, inputs, labels, and buttons, ensuring a user-friendly and visually appealing interface. The form elements are styled to be consistent and accessible, with flexbox used to manage the layout of form rows and columns.
RETURNS
    CSS styles that create a well-structured, responsive, and aesthetically pleasing form for adding food data.
*/

.form-outer {
    width: 70%;
    /* background-color: maroon; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.form-outer .form-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-inner input, .form-inner select{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.form-inner label {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-inner button {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 45%;
}